{% extends '@CoralMediaWebDesktop/base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" id="theme"
          href="{{ asset('bundles/coralmediawebdesktop/ext-3.4.1/resources/css/xtheme-blue.css') }}">
    <link rel="stylesheet" type="text/css" id="x-theme"
          href="{{ asset('bundles/coralmediawebdesktop/desktop/resources/x-blue.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/coralmediawebdesktop/desktop/resources/login.css') }}">
    <style>

    </style>
{% endblock %}

{% block body %}

    <script type="text/javascript">
        Ext.onReady(function(){
            Ext.BLANK_IMAGE_URL = '{{ asset('bundles/coralmediawebdesktop/ext-3.4.1/resources/images/default/s.gif') }}';
            Ext.QuickTips.init();
            new Ext.Viewport({
                autoShow: true,
                renderTo: Ext.getBody(),
                layout: {
                    type: 'vbox',
                    align: 'center',
                    pack: 'center',
                    padding: 20,
                },
                // layout: 'border',
                items: [
                    new Ext.Panel({
                        border: false,
                        bodyStyle: {
                            'background-color': 'transparent',
                            'color': '#ffffff',
                            'font-size': '1.5em'
                        },
                        padding: 10,

                        html:'<h1>Login</h1>'
                    }),
                    new Ext.form.FormPanel({
                        border: false,
                        // title: 'Sign In',
                        bodyStyle: {
                            'background-color': 'transparent'
                        },
                        layout: 'form',
                        width: 400,
                        url: '/api/security/token',
                        method: 'POST',
                        buttons: [{
                            text: 'Login',
                            scale: 'large',
                            width: 60,
                            handler: function(self) {
                                let form = self.findParentByType('form').getForm();
                                if (form.isValid()) {
                                    form.doAction('jsonSubmit', {
                                        headers: {
                                            'Content-Type': 'application/ld+json',
                                            'Accept': 'application/ld+json, application/json'
                                        },
                                        success: function(form, action) {
                                            let response = Ext.decode(action.response.responseText);
                                            localStorage.setItem('token', response['token']);
                                            localStorage.setItem('refreshToken', response['refresh_token']);
                                        },
                                        failure: function (form, action) {
                                            localStorage.removeItem('token');
                                            localStorage.removeItem('refreshToken');
                                            console.log(action);
                                            let response = Ext.decode(action.response.responseText);
                                            if(action.response.status === 401) {
                                                Ext.Msg.alert('Error!', response['message']);
                                            }
                                        }
                                    });
                                } else {
                                    Ext.Msg.alert( "Error!", "Your form is not valid!" );
                                }
                            }
                        }],
                        items:[
                            {
                                id: 'inputEmail',
                                xtype: 'textfield',
                                name: 'user',
                                value: '{{ last_username }}',
                                fieldLabel: 'Email',
                                labelStyle: 'color: #ffffff; font-size: 20px;',
                                style: {
                                    'background': 'transparent'
                                },
                                allowBlank: false,
                                autoCreate: {tag: 'input', type: 'text', autocomplete: 'on'},
                                // grow: true,
                                // growMax:'90%',
                                // growMin:'90%',
                                anchor:'100%'
                            },
                            {
                                id: 'inputPassword',
                                xtype: 'textfield',
                                inputType: 'password',
                                name: 'password',
                                fieldLabel: 'Password',
                                autoCreate: {tag: 'input', type: 'password', autocomplete: 'on'},
                                labelStyle: 'color: #ffffff; font-size: 20px;',
                                style: {
                                    'background': 'transparent'
                                },
                                allowBlank: false,
                                // growMax:'90%',
                                // growMin:'90%',
                                anchor:'100%'
                            },
                            {
                                xtype: 'checkbox',
                                name: '_remember_me',
                                boxLabel: '<span style="color: whitesmoke; margin-left: 10px;">Remember Me</span>',
                            },
                            {
                                xtype: 'hidden',
                                name: '_csrf_token',
                                value: '{{ csrf_token('authenticate') }}'
                            },

                        ]
                    }),
                    new Ext.Panel({
                        id: 'login-error',
                        border: false,
                        width: 400,
                        bodyStyle: {
                            'background-color': 'transparent',
                            {% if error %}
                            'background-color': 'rgba(241,162,162)',
                            {% endif %}
                            'color': '#721010'
                        },
                        padding: 5,
                        {% if error %}
                        html:'{{ error.messageKey|trans(error.messageData, 'security') }}'
                        {% endif %}
                    }),
                    new Ext.Panel({
                        id: 'login-footer',
                        border: false,
                        bodyStyle: {
                            'background-color': 'transparent',
                            'color': '#ffffff'
                        },
                        padding: 40,

                        html:'<code>&copy; {{ "now"|date('Y') }} ' +
                            '<a style="color: #fff;" target="_blank" href="https://www.coralmediasolutions.dev/">Coral Media Solutions</a></code>'
                    })
                ]
            });
        });
    </script>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('bundles/coralmediawebdesktop/desktop/addons/hydra-api/Hydra.form.Action.JsonSubmit.js') }}"
    ></script>
{% endblock %}
